@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

@keyframes fadein {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animation-fadein {
  opacity: 0;
  animation: fadein 3s forwards;
  animation-delay: 0.2s;
}

:focus {
  border: none;
  outline: none;
}

:hover {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

h1 {
  font-size: 2em;
  padding: 15px 0 15px 0px;
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
  padding: 15px 0 15px 0px;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  padding: 15px 0 15px 0px;
  font-weight: bold;
}

p {
  margin: 10px 0 10px 0px;
}

.small {
  font-size: 0.8em;
}

.row {
  clear: both;
}

.clear {
  clear: both;
}

.col-sm-2 {
  display: inline-block;
  width: 49%;
  text-align: center;
  padding: 20px 0 20px 0;
}

.separator {
  border-color: #405364;
  margin: 10px 50px 10px 50px;
}

/* navbar */
nav.active {
  background: #283233;
}
nav.active .navmain-brand {
  display: block;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  color: #FFF;
  transition: background 1s;
  -moz-transition: background 1s;
  -webkit-transition: background 1s;
  -o-transition: background 1s;
}
nav .navmain-brand {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  text-decoration: none;
  display: none;
  height: 50px;
  width: 200px;
  position: fixed;
  top: 15px;
  left: 10px;
}
nav .navmain-toggle {
  display: block;
  height: 50px;
  border: none;
  background: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.9em;
  color: #FFF;
  float: right;
  cursor: pointer;
}
nav .navmain-close {
  display: block;
  width: 50px;
  height: 50px;
  float: right;
  border: none;
  background: none;
  font-size: 1.5em;
  color: #FFF;
  cursor: pointer;
}
nav .navmain-cover {
  position: absolute;
  z-index: 11;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}
nav .navmain-wraper {
  display: block;
  position: fixed;
  right: -250px;
  z-index: 999;
  background: #2fc3d9;
  width: 250px;
  height: 100%;
  transition: right 1s;
  -moz-transition: right 1s;
  -webkit-transition: right 1s;
  -o-transition: right 1s;
}
nav .navmain-wraper ul {
  margin: 10px 20px 10px 20px;
}
nav .navmain-wraper ul li {
  padding: 15px 0px 15px 0px;
  border-bottom: solid 1px #28b1c5;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9em;
}
nav .navmain-wraper ul li a {
  color: #FFF;
  text-decoration: none;
}
nav .navmain-wraper ul li a:hover {
  color: #bbf6ff;
}
nav .move {
  right: 0px;
}

/* Sections */
section {
  display: block;
  text-align: center;
}
section .anahor {
  display: block;
  margin: 10px auto;
  width: 150px;
  padding: 10px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  border: solid 2px #FFF;
}
section .anahor:hover {
  background: #FFF;
  color: #272833;
}
section .wraper {
  margin: 0 5% 0 5%;
}

/* First Section */
.first-section {
  height: 100%;
  background: #CCC url(../images/cover.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.first-section .wraper {
  position: absolute;
  bottom: 10%;
  width: 100%;
  margin: 0px;
  height: 200px;
}
.first-section h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #FFF;
}
.first-section .lead {
  font-size: 1.3em;
  color: #FFF;
  padding: 10px 0 20px 0;
}

/* Second Section */
.second-section {
  background: #FFF;
  padding-top: 50px;
  padding-bottom: 80px;
}
.second-section .anahor {
  border-color: #272833;
  color: #272833;
}
.second-section .anahor:hover {
  background-color: #272833;
  color: #FFF;
}
.second-section h1 {
  line-height: 1em;
}
.second-section .lead {
  font-size: 1.2em;
  line-height: 1.1em;
  font-weight: bold;
}
.second-section p {
  padding: 5px 0 5px 0;
}
.second-section .animation {
  opacity: 0;
}

/* Third Section */
.third-section {
  background: #272833;
  color: #FFF;
  padding: 50px 0 0px 0;
}
.third-section h1 {
  font-size: 1.5em;
  line-height: 1.2em;
}
.third-section p {
  color: #7e8095;
  font-size: 0.8em;
  padding: 20px;
  font-size: 0.9em;
}
.third-section .dark {
  background: #15161f;
}
.third-section .link {
  padding: 30px;
}
.third-section .image {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.third-section .image img {
  width: inherit;
}
.third-section .animation {
  opacity: 0;
}

/* Fourth Section */
.fourth-section {
  background: #e9516a;
  color: #FFF;
  padding: 50px 0 50px 0px;
}
.fourth-section .animation {
  opacity: 0;
}
.fourth-section .icon .icon-gfx {
  display: block;
  width: 90px;
  height: 55px;
  padding-top: 35px;
  border: solid 3px #FFF;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 auto;
  font-size: 1.8em;
  font-weight: bold;
}
.fourth-section .icon .icon-gfx:hover {
  background: #FFF;
  color: #e9516a;
}

/* Fifth Section */
.fifth-section {
  background: #272833;
  color: #FFF;
  padding: 50px;
}
.fifth-section ul {
  margin: 20px 30px 20px 30px;
}
.fifth-section ul li {
  display: inline-block;
  padding: 10px 20px 10px 20px;
}
.fifth-section ul li img {
  height: 30px;
}
.fifth-section ul li img:hover {
  opacity: 0.5;
}

/* Footer */
footer {
  display: block;
  padding: 20px;
  text-align: center;
}
footer a {
  color: #000;
  text-decoration: none;
  border-bottom: dotted 1px #CCC;
}
footer a:hover {
  color: #e9516a;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .col-sm-2 {
    display: inline-block;
    width: 32%;
    text-align: center;
    padding: 20px 0 20px 0;
  }
}
/* !! Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .wraper {
    margin: 0 10% 0 10%;
  }

  /* columns RWD */
  .col-sm-2 {
    display: inline-block;
    width: 16%;
    text-align: center;
    padding: 20px 0 20px 0;
  }

  .col-sm-3 {
    display: inline-block;
    width: 32%;
    vertical-align: top;
    text-align: left;
  }

  .col-sm-6 {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    text-align: left;
  }

  /* First Section */
  /* Second Section */
  .second-section h1 {
    font-size: 1.5em;
  }
  .second-section .lead {
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 0 0 0;
  }
  .second-section p {
    padding: 20px 5px 0 5px;
  }
  .second-section .anahor {
    margin-top: 40px;
  }

  /* Third Section */
  .third-section {
    padding: 0px;
  }
  .third-section .col-sm-6 {
    vertical-align: middle;
  }
  .third-section h1 {
    padding: 10px 20px 10px 20px;
  }
  .third-section p {
    font-size: 1em;
    line-height: 1.1em;
  }
  .third-section .order .col-right {
    float: right;
  }
  .third-section .order .col-left {
    float: left;
    padding: 30px 0 0 0;
  }

  /* Fourth Section */
  .fourth-section .icon .icon-gfx {
    width: 110px;
    height: 65px;
    padding-top: 45px;
    font-size: 3em;
  }

  /* Fifth Section */
  /* Sixth Section */
}
/* Large Devices, Wide Screens */

/*# sourceMappingURL=style.css.map */
